body{
    background-image: linear-gradient(90deg, red,blue);
}

main{
    position: absolute;
    left: 105px;
}

footer{
    position: absolute;
    left: 210px;
    top: 1950px;
}

h1{
    text-align: center;
    color: white;
    font-family: "Calibri";
    font-size: 36px;
}

h3{
    text-align: center;
    color: white;
    font-family: "Calibri";
    font-size: 36px;
}

.left-block h2{
    text-align: center;
    color: green;
    font-family: "Calibri";
    font-size: 24px;
}

.left-block p{
    text-align: justify;
    color: snow;
    font-family: "Calibri";
    font-size: 18px;
}

.left-block a{
    text-decoration: none;
    font-family: "Calibri";
    font-size: 20px;
    color: white;
    background-color: purple;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed black;
    border-radius: 15px;
}

.left-block a:hover{
    color: purple;
    background-color: white;
}

.left-block{
    width: 480px;
    height: 360px;
    background-color: orangered;
    border: 2px dashed white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.right-block h2{
    text-align: center;
    color: green;
    font-family: "Calibri";
    font-size: 24px;
}

.right-block p{
    text-align: justify;
    color: snow;
    font-family: "Calibri";
    font-size: 18px;
}

.right-block a{
    text-decoration: none;
    font-family: "Calibri";
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: purple;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed black;
    border-radius: 15px;
}

.right-block a:hover{
    color: purple;
    background-color: white;
}

.right-block{
    width: 480px;
    height: 360px;
    background-color: orangered;
    border: 2px dashed white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.scroll img{
    width: 480px;
    height: 360px;
}

.scroll{
    width: 640px;
    height: 370px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: space-between;
}

.line{
    display: flex;
    flex-direction: space-between;
}

footer p{
    text-align: center;
    color: white;
    font-family: "Calibri";
    font-size: 24px;
}

@media (max-width: 1200px){
    .left-block{
        max-width: 300px;
    }

    .right-block{
        max-width: 300px;
    }

    .scroll{
        max-width: 300px;
    }
}

@media (max-width: 1200px){
    .left-block{
        max-width: 275px;
    }

    .right-block{
        max-width: 275px;
    }

    .left-block h2{
        font-size: 1.2cm;
    }

    .right-block h2{
        font-size: 1.2cm;
    }

    .scroll-block{
        max-width: 275px;
    }
}
